.title {
  font-size: 20px;
  font-weight: 300;
  background-color: lightskyblue;
  text-align: left;
  padding: 10px 10px;
  color: black;
}
body {
  font-family: sans-serif, arial;
}
.modal {
  position: fixed;
  top: 200px;
  padding: 24px;
  left: 200px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
}